{% extends "index.html" %}
{% block content %}

   <div class="card-header">
        <strong><h3>Erreur</h3></strong>
   </div>
   <div class="card-body text-center">
        <div class="card-text">
            Une erreur s'est produite. N'hésitez pas à envoyer un mail à <strong>vincentdevulder.pro@gmail.com</strong> en précisant le contexte ainsi que les informations suivantes :
        </div>
        <div>
            <h4>{{ statusCode }}</h4>
	        <p><strong>
                {% if statusCode == 400 %}
                    Bad Request
                {% elif statusCode == 403 %}
                    Access Forbidden
                {% elif statusCode == 404 %}
                    Not Found
                {% elif statusCode == 500 %}
                    Internal Server Error
                {% endif %}
            </strong></p>
        </div>
   </div>

{% endblock %}
