{% extends "index.html" %}
{% block content %}
{% load extras_tags %}

    <div class="card text-white" id="familyPhotoDiv">
        {% if family.photo %}
            <img src="{{ family.photo.url }}" data-target="familyPhoto" class="card-img" alt="Family picture" style="max-height: 100%; width: auto;">
            <div class="loader d-flex justify-content-center" id="familyPhoto">
                <div class="spinner-border text-light my-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {% else %}
            <div style="margin: auto;">
                No family picture available.
            </div>
        {% endif %}
        <div id="familyPhotoOverlay">
            <h5 class="card-title"><strong>{{ family.name }}</strong></h5>
            <p class="card-text">{{ family.description }}</p>
            <button class="btn btn-outline-light btn-overlay" type="button" data-toggle="modal" data-target="#modalUpdateFamily"><i class='fas fa-edit'></i></button>
            <div class="modal fade" id="modalUpdateFamily" tabindex="-1" role="dialog" aria-labelledby="modalUpdateFamily" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content container-fluid" style="color: black;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalUpdateFamily"><strong>Changement d'informations - {{ family.name }}</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="text-center">
                            {% if family.photo %}
                                <div>
                                    <img class="imgDisplay" id="imgDisplay" data-target="family" src="{{ family.photo.url }}">
                                </div>
                                <div style="margin-bottom: 20px; margin-top: 20px;">
                                    <div class="btn-group dropright">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-undo"></i> Tourner
                                        </button>
                                        <div class="dropdown-menu">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'family' family.id  1 %}">90°</button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'family' family.id 2 %}">180°</button>
                                            </form>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'family' family.id 3 %}">270°</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div style="margin: auto; width:max-content;">
                                    <img class="imgDisplay" id="imgDisplay" data-target="family" alt='FamilyPicture' src="#">
                                </div>
                            {% endif %}
                            <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="description" class="col-form-label">Description</label>
                                        <textarea class="form-control" id="description" name="description">{{ family.description }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_photo" class="col-form-label">Photo</label>
                                        <input type="file" name="photo" accept="image/*" id="id_photo" value="{{family.photo}}">
                                        <p class="text-muted"><small>Sélectionnez un fichier pour modifier l'image actuelle.</small></p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>    
                                    <button type="submit" class="btn btn-success" formaction="{% url 'updateFamily' family.id %}">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-header family-header">
        Dernières actualités
        <button id="newPostButton" class="btn btn-success btn-header" onclick="document.location.href='{% url 'newPost' family.id %}';"><i class="far fa-plus-square"></i> Créer un nouveau post</button>
        {% if user.is_staff %}
            <button class="btn btn-secondary btn-header" onclick="document.location.href='{% url 'generateDocument' family.id %}';">Générer la gazette</button>
        {% endif %}
        <div style="margin-top: 5px;">
            <form method="GET">
                <select class="dynamic_attribute" name="paginate_by">
                    <option value="3" {% if paginate_by == '3' %}selected{% endif %}>3</option>
                    <option value="5" {% if paginate_by == '5' %}selected{% endif %}>5</option>
                    <option value="10" {% if paginate_by == '10' %}selected{% endif %}>10</option>
                    <option value="15" {% if paginate_by == '15' %}selected{% endif %}>15</option>
                    <option value="20" {% if paginate_by == '20' %}selected{% endif %}>20</option>
                </select>
                <input type="text" name="display" value="{% if carousel %}carousel{% else %}list{% endif %}" hidden>
            </form>
            {% if carousel %}
                <button class="btn btn-sm" style="border-color: lightgray; float: right;" onclick="document.location.href='?{% url_replace 'display' 'list' %}';"><i class="fas fa-list"></i></button>
            {% else %}
                <button class="btn btn-sm" style="border-color: lightgray; float: right;" onclick="document.location.href='?{% url_replace 'display' 'carousel' %}';"><i class="fas fa-photo-video"></i></button>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if posts %}
            {% if carousel %}
            <div class="card">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for post in posts %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for post in posts %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-interval="10000" style="max-height: 100vh; background-color: #ecf2f9;">
                      <img src="{{ post.photo.url }}" data-target="loader{{ forloop.counter0 }}" class="d-block" alt="Photo" style="max-height: 100vh;">
                      <div class="loader d-flex justify-content-center" id="loader{{ forloop.counter0 }}">
                        <div class="spinner-border text-light my-auto" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                      </div>
                      <div class="carousel-caption d-block" style="background-color: rgba(0, 0, 0, 0.5); width: 100%; right: auto; left: auto;">
                        <div class="user_container">
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar.url }}" alt="Avatar" class="avatar avatarPost">
                            {% endif %}
                            <div style="display: block;">
                                <h5>{{post.event_date}} - {{ post.title }}</h5>
                                <span class="user_name" style="color: #85e085;">
                                    <small >Publié le {{ post.publication_date }} par </small><strong>{{post.user}}</strong>
                                </span>
                            </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                {% for post in posts %}
                <div class="card" id="carouselItem{{forloop.counter0}}" {% if not forloop.first %}style="display: none;"{% endif %}>
                    <div class="card-header">
                        Commentaires
                    </div>
                    <div class="card-body">
                        {% if post.comments %}
                            <ul class="list-group list-group-flush">
                                {% for comment in post.comments %}
                                    <li class="list-group-item">
                                        <div>
                                            <div class="user_container">
                                                {% if comment.user.avatar %}
                                                    <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="avatar avatarComment">
                                                {% endif %}
                                                <span class="user_name">
                                                    <small>{{comment.user}} - {{comment.date}}</small>
                                                </span>    
                                            </div>
                                        </div>
                                        <div class="element_content">
                                            
                                            <form method="POST" action="{% url 'updateComment' comment.id %}">
                                                {% csrf_token %}
                                                <span>
                                                    <textarea type="text" rows="1" class="form-control" id="comment{{comment.id}}" name="content" style="width: 100%;" maxlength=400 readonly>{{comment.content}}</textarea>
                                                </span>
                                                <button class="btn btn-success btnNewElement" id="btnUpdateComment{{comment.id}}" type="submit" style="display: none;">Envoyer</button>
                                            </form>
                                            
                                            <div class="btnElement">
                                                {% if comment.user == user.profile %}
                                                    <button class="btn" onclick="updateComment({{comment.id}});"><i class="fas fa-pen"></i></button>
                                                    <button class="btn" type="button" data-toggle="modal" data-target="#modalComment{{comment.id}}"><i class="fas fa-trash-alt"></i></button>
                                                {% endif %}
                                            </div>

                                            <div class="modal fade" id="modalComment{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="modalComment{{comment.id}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalComment{{comment.id}}Label">Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Voulez-vous vraiment supprimer le commentaire '{{comment.content}}' ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger" formaction="{% url 'deleteComment' comment.id %}">Supprimer</button>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="noComment">Pas de commentaire à afficher.</div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary btnNewElement" onclick="addComment({{post.id}});"><i class="fas fa-plus"></i> Ajouter un commentaire</button>
                        <div id="post{{post.id}}" style="display: none;">
                            <form method="POST" action="{% url 'newComment' family.id post.id %}">
                                {% csrf_token %}
                                <textarea type="text" rows="1" class="form-control" name="content" style="width: 100%;" placeholder="Veuillez entrer du texte" maxlength=400></textarea>
                                <button class="btn btn-success btnNewElement" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% for post in posts %}
            <div class="card mb-3">
                <div class="image-container">
                    <img src="{{ post.photo.url }}" data-target="loader{{ forloop.counter0 }}" class="card-img-top">
                    <div class="loader d-flex justify-content-center" id="loader{{ forloop.counter0 }}">
                        <div class="spinner-border text-light my-auto" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="idPost{{post.id}}">
                    <h5 class="card-title">{{post.event_date}} - {{ post.title }}</h5>
                    <div class="post_header">
                        <div class="card-text user_container">
                            <span class="user_name">
                                <small class="text-muted">Publié le {{ post.publication_date }} par </small><strong>{{post.user}}</strong>
                            </span>
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar.url }}" alt="Avatar" class="avatar avatarPost">
                            {% endif %}
                        </div>
                        {% if post.user == user.profile %}
                            <div class="postButtons">
                                <a href="{% url 'updatePost' post.id %}?{{ request.GET.urlencode }}"><button class="btn btn-info" type="button"><i class='fas fa-edit'></i> Modifier</button></a>
                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#modalPost{{post.id}}"><i class="fas fa-trash-alt"></i> Supprimer</button>
                                <div class="modal fade" id="modalPost{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="modalPost{{post.id}}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalPost{{post.id}}Label">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer le post '{{post.title}}' ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" formaction="{% url 'deletePost' post.id %}">Supprimer</button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Commentaires
                        </div>
                        <div class="card-body">
                            {% if post.comments %}
                                <ul class="list-group list-group-flush">
                                    {% for comment in post.comments %}
                                        <li class="list-group-item">
                                            <div>
                                                <div class="user_container">
                                                    {% if comment.user.avatar %}
                                                        <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="avatar avatarComment">
                                                    {% endif %}
                                                    <span class="user_name">
                                                        <small>{{comment.user}} - {{comment.date}}</small>
                                                    </span>    
                                                </div>
                                            </div>
                                            <div class="element_content">
                                                
                                                <form method="POST" action="{% url 'updateComment' comment.id %}">
                                                    {% csrf_token %}
                                                    <span>
                                                        <textarea type="text" class="form-control" rows="1" id="comment{{comment.id}}" name="content" style="width: 100%;" maxlength=400 readonly>{{comment.content}}</textarea>
                                                    </span>
                                                    <button class="btn btn-success btnNewElement" id="btnUpdateComment{{comment.id}}" type="submit" style="display: none;">Envoyer</button>
                                                </form>

                                                <div class="btnElement">
                                                    {% if comment.user == user.profile %}
                                                        <button class="btn" onclick="updateComment({{comment.id}});"><i class="fas fa-pen"></i></button>
                                                        <button class="btn" type="button" data-toggle="modal" data-target="#modalComment{{comment.id}}"><i class="fas fa-trash-alt"></i></button>
                                                    {% endif %}
                                                </div>
                                                

                                                <div class="modal fade" id="modalComment{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="modalComment{{comment.id}}Label" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalComment{{comment.id}}Label">Confirmation</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Voulez-vous vraiment supprimer le commentaire '{{comment.content}}' ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                            <form method="POST">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger" formaction="{% url 'deleteComment' comment.id %}">Supprimer</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="noComment">Pas de commentaire à afficher.</div>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary btnNewElement" onclick="addComment({{post.id}});"><i class="fas fa-plus"></i> Ajouter un commentaire</button>
                            <div id="post{{post.id}}" style="display: none;">
                                <form method="POST" action="{% url 'newComment' family.id post.id %}">
                                    {% csrf_token %}
                                    <textarea type="text" rows="1" class="form-control" name="content" style="width: 100%;" placeholder="Veuillez entrer du texte" maxlength=400></textarea>
                                    <button class="btn btn-success btnNewElement" type="submit">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        {% else %}
            <p><h6>Pas encore de publication.</h6></p>
        {% endif %}
    </div>
    

    {# Mise en forme de la pagination ici #}
    {% include "pagination.html" %}
    
{% endblock %}
