{% extends "index.html" %}
{% block content %}
    
    <div class="card-header">
        <h5><strong>{{ family.name }}</strong></h5>
        Dernières actualités
        <button id="newPostButton" class="btn  btn-success" onclick="document.location.href='{% url 'newPost' family.id %}';"><i class="far fa-plus-square"></i> Créer un nouveau post</button>
        {% if user.is_staff %}
            <button class="btn btn-secondary" onclick="document.location.href='{% url 'generateDocument' family.id %}';">Générer la gazette</button>
        {% endif %}
    </div>
    <div class="card-body">
        {% if posts %}
            {% for post in posts %}
            <div class="card mb-3">
                <div class="image-container">
                    <img src="{{ post.photo.url }}" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="post_header">
                        <div class="card-text user_container">
                            <span class="user_name">
                                <small class="text-muted">Publié le {{ post.publication_date }} par </small><strong>{{post.user}}</strong>
                            </span>
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar.url }}" alt="Avatar" class="avatar avatarPost">
                            {% endif %}
                        </div>
                        {% if post.user == user.profile %}
                            <div class="postButtons">
                                <a href="{% url 'updatePost' post.id %}"><button class="btn btn-info" type="button"><i class='fas fa-edit'></i> Modifier</button></a>
                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#modalPost{{post.id}}"><i class="fas fa-trash-alt"></i> Supprimer</button>
                                <div class="modal fade" id="modalPost{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="modalPost{{post.id}}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalPost{{post.id}}Label">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer le post '{{post.title}}' ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" formaction="{% url 'deletePost' post.id %}">Supprimer</button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Commentaires
                        </div>
                        <div class="card-body">
                            {% if post.comments %}
                                <ul class="list-group list-group-flush">
                                    {% for comment in post.comments %}
                                        <li class="list-group-item">
                                            <div>
                                                <div class="user_container">
                                                    {% if comment.user.avatar %}
                                                        <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="avatar avatarComment">
                                                    {% endif %}
                                                    <span class="user_name">
                                                        <small>{{comment.user}} - {{comment.date}}</small>
                                                    </span>    
                                                </div>
                                            </div>
                                            <div class="element_content">
                                                <span>
                                                    <form method="POST" action="{% url 'updateComment' comment.id %}">
                                                        {% csrf_token %}
                                                        <input type="text" id="comment{{comment.id}}" name="content" style="width: 100%;" maxlength=400 value="{{comment.content}}" readonly>
                                                    </form>
                                                </span>
                                                
                                                <div class="btnElement">
                                                    {% if comment.user == user.profile %}
                                                        <button class="btn" onclick="updateComment({{comment.id}});"><i class="fas fa-pen"></i></button>
                                                        <button class="btn" type="button" data-toggle="modal" data-target="#modalComment{{comment.id}}"><i class="fas fa-trash-alt"></i></button>
                                                    {% endif %}
                                                </div>

                                                <div class="modal fade" id="modalComment{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="modalComment{{comment.id}}Label" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalComment{{comment.id}}Label">Confirmation</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Voulez-vous vraiment supprimer le commentaire '{{comment.content}}' ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                            <form method="POST">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger" formaction="{% url 'deleteComment' comment.id %}">Supprimer</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="noComment">Pas de commentaire à afficher.</div>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary btnNewElement" onclick="addComment({{post.id}});"><i class="fas fa-plus"></i> Ajouter un commentaire</button>
                            <div id="post{{post.id}}" style="display: none;">
                                <form method="POST" action="{% url 'newComment' family.id post.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="content" style="width: 100%;" maxlength=400>
                                    <button class="btn btn-success btnNewElement" type="submit">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        {% else %}
            <p><h6>Pas encore de publication.</h6></p>
        {% endif %}
    </div>
    

    {# Mise en forme de la pagination ici #}
    {% include "pagination.html" %}
    
{% endblock %}
