{% extends "index.html" %}
{% block content %}

    <div class="card-header">
        {% if profile == user.profile %}<strong>Vos informations</strong>{% else %}<strong>Profil de {{profile.user.username}}</strong>{% endif %}
    </div>
    <div class="card-body text-center">
        <div class="media">
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="mr-3 avatar avatarProfile" alt="Avatar">
            {% endif %}
            <div class="media-body">
                <h2 class="mt-0"><strong>{{profile.user.first_name}} {{profile.user.last_name}}</strong></h2>
                <div class="container" style="border: 1px solid #009973; border-radius: 10px;">
                    <div class="row">
                        <div class="input-group flex-nowrap col">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">@ Username</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" value="{{profile.user.username}}" aria-label="Username" aria-describedby="addon-wrapping" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group flex-nowrap col">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">@ Email</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" value="{{profile.user.email}}" aria-label="Email" aria-describedby="addon-wrapping" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked="{{profile.newsletter}}" id="defaultCheck2" disabled>
                            <label class="form-check-label" for="defaultCheck2">
                                Abonné(e) à la newsletter
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if profile == user.profile %}
        <a href="{% url 'updateProfile' %}">
            <div class="card-footer">
                Modifier
            </div>
        </a>
    {% endif %}

{% endblock %}