{% extends "index.html" %}
{% block content %}

   <div class="card-header">
        Modification du profil
   </div>
   <div class="card-body text-center">

        {% if profile_form.avatar.value %}
            <div style="margin-bottom: 20px;">
                <img class="imgDisplay" id="imgDisplay" src="/media/{{ profile_form.avatar.value }}">
            </div>
            <div style="margin-bottom: 20px; margin-top: 20px;">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-undo"></i> Tourner
                    </button>
                    <div class="dropdown-menu">
                        <form method="POST">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'profile' user.id  1 %}">90°</button>
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'profile' user.id 2 %}">180°</button>
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit" formaction="{% url 'rotate' 'profile' user.id 3 %}">270°</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div style="margin-bottom: 20px;">
                <img class="imgDisplay" id="imgDisplay" alt='avatar' src="#">
            </div>
        {% endif %}

        {% if error %}
        <p><strong></strong></p>
        <div class="alert alert-danger" role="alert">
            Erreur lors de la saisie. Vérifiez les informations.
        </div>
        {% endif %}
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <div class="container">
                <button class="btn btn-success" type="submit">Sauvegarder</button>
                <input type='button' value='Annuler' class="btn btn-danger" onclick="document.location.href='{% url 'home' %}';"/>
            </div>
        </form>
   </div>

{% endblock %}